<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Gauss noise macro -->
    <xacro:macro name="gauss_noise"
                 params="mean:=0.0 
                        stddev:=0.0 
                        bias_mean:=0.0 
                        bias_stddev:=0.0 
                        precision:=0.0">

        <noise type="gaussian">
            <mean>${mean}</mean>
            <stddev>${stddev}</stddev>
            <bias_mean>${bias_mean}</bias_mean>
            <bias_stddev>${bias_stddev}</bias_stddev>
            <precision>${precision}</precision>
        </noise>
    </xacro:macro>

    <xacro:macro name="mentorpi_ros2_control" 
                 params="use_sim
                        controller_config_file">
        
        <ros2_control name="wheels" type="system">
            <hardware>
                <xacro:if value="${use_sim}">
                    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
                </xacro:if>
            </hardware>

            <joint name="wheel_lf_Joint">
                <command_interface name="velocity"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="wheel_rf_Joint">
                <command_interface name="velocity"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="wheel_lb_Joint">
                <command_interface name="velocity"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="wheel_rb_Joint">
                <command_interface name="velocity"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <xacro:if value="${use_sim}">
                <sensor name="imu">
                    <state_interface name="orientation.x" />
                    <state_interface name="orientation.y" />
                    <state_interface name="orientation.z" />
                    <state_interface name="orientation.w" />
                    <state_interface name="angular_velocity.x" />
                    <state_interface name="angular_velocity.y" />
                    <state_interface name="angular_velocity.z" />
                    <state_interface name="linear_acceleration.x" />
                    <state_interface name="linear_acceleration.y" />
                    <state_interface name="linear_acceleration.z" />
                </sensor>
            </xacro:if>
        
        </ros2_control>

        <xacro:if value="${use_sim}">
            <gazebo reference="imu_link">
                <sensor name="imu" type="imu">
                    <always_on>true</always_on>
                    <update_rate>100</update_rate>
                    <topic>imu/data_raw</topic>
                    <imu>
                        <angular_velocity>
                            <x>
                                <xacro:gauss_noise stddev="5.24e-3" bias_mean="2.0e-3" precision="1.07e-3" />
                            </x>
                            <y>
                                <xacro:gauss_noise stddev="5.24e-3" bias_mean="2.0e-3" precision="1.07e-3" />
                            </y>
                            <z>
                                <xacro:gauss_noise stddev="5.24e-3" bias_mean="2.0e-3" precision="1.07e-3" />
                            </z>
                        </angular_velocity>
                        <linear_acceleration>
                            <x>
                                <xacro:gauss_noise stddev="1.86e-3" bias_mean="1.0e-3" precision="2.40e-3" />
                            </x>
                            <y>
                                <xacro:gauss_noise stddev="1.86e-3" bias_mean="1.0e-3" precision="2.40e-3" />
                            </y>
                            <z>
                                <xacro:gauss_noise stddev="1.86e-3" bias_mean="1.0e-3" precision="2.40e-3" />
                            </z>
                        </linear_acceleration>
                    </imu>
                </sensor>
            </gazebo>

            <gazebo reference="lidar_frame">
                <sensor name="lidar" type="gpu_lidar">
                    <always_on>true</always_on>
                    <visualize>true</visualize>
                    <update_rate>10</update_rate>
                    <topic>/scan</topic>
                    <gz_frame_id>lidar_frame</gz_frame_id>

                    <lidar>
                        <scan>
                            <horizontal>
                                <samples>720</samples>
                                <resolution>1</resolution>
                                <min_angle>-3.14159</min_angle>
                                <max_angle>3.14159</max_angle>
                            </horizontal>
                        </scan>

                        <range>
                            <min>0.05</min>
                            <max>10.0</max>
                            <resolution>0.01</resolution>
                        </range>

                        <noise>
                            <type>gaussian</type>
                            <mean>0.0</mean>
                            <stddev>0.01</stddev>
                        </noise>
                    </lidar>
                </sensor>
            </gazebo>

        </xacro:if>

        <xacro:if value="${use_sim}">
            <gazebo>
                <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                    <parameters>${controller_config_file}</parameters>
                </plugin>
            </gazebo>
        </xacro:if>

    </xacro:macro>
</robot>